.experience-banner-section{
    background-color: white;
    border-bottom: 20px solid orange;
    padding-bottom: 25px;
}
.experience-banner-section .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-experience-banner{
    width: 100%;
    max-width: 400px;
}
.experience-summary{
    padding-right: 15px;
}
.download-resume-btn{
    background-image: linear-gradient(90deg, #ff6767, #a729ff);
    border: none;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 600;
    gap: 4px;
    padding: 7px 20px;
    text-decoration: none;
}
.skills-summary-section{
    padding: 20px 0px;
    background-image: url(https://img.perceptpixel.com/pykhlszs/portfolio/bg-image-one.webp);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-bottom: 6px solid #000000;
}
.summary-skill-card .card-group .card{
    background-image: linear-gradient(90deg, #f17625, #f0c41d);
    animation: specialization-card-progress 5s;
}
.summary-skill-card .card-group .card .card-body{
    background-color: #fffae9;
    text-align: center;
}
.skill-list{
    list-style-type: none;
    padding: 0;
    background-color: #e5e8e8;
    border-radius: 8px;
}
.skill-list li{
   border-bottom: 1px solid #ffffff;
   padding: 2px;
}
.skills-analysis-section{
    padding-bottom: 25px;
}
.skill-progress-bar{
    background-color: #3b7378;
    padding: 20px 0px;
    margin: 0px;
    border-radius: 8px 8px;
}
.skill-progress-bar h6{
    color: white;
    margin-bottom: 2px;
}
.skill-progress-bar .progress-bar::before{
    width: 100%;
    height: auto;
    border-radius:8px;
    font-size: 12px;
    font-weight: 600;
}
.skill-progress-bar .progress-bar{
    width: 100%;
    height: auto;
    border-radius:8px;
}
.skill-bar{
    animation: skill-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    /* background: linear-gradient(to right, #ffb948, #f0861c, #f4671b calc(var(--progress-value)* 1%), #ffffff 0); */
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.skill-bar::before{
    animation: skill-progress 5s 1 forwards;
}

.js-bar{
    animation: js-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.js-bar::before{
    animation: js-progress 5s 1 forwards;
}

.jquery-bar{
    animation: jquery-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.jquery-bar::before{
    animation: jquery-progress 5s 1 forwards;
}

.php-bar{
    animation: php-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.php-bar::before{
    animation: php-progress 5s 1 forwards;
}

.wordpress-bar{
    animation: wordpress-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.wordpress-bar::before{
    animation: wordpress-progress 5s 1 forwards;
}

.reactjs-bar{
    animation: reactjs-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.reactjs-bar::before{
    animation: reactjs-progress 5s 1 forwards;
}

.node-bar{
    animation: node-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.node-bar::before{
    animation: node-progress 5s 1 forwards;
}

.express-bar{
    animation: express-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.express-bar::before{
    animation: express-progress 5s 1 forwards;
}

.sql-bar{
    animation: sql-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.sql-bar::before{
    animation: sql-progress 5s 1 forwards;
}

.mongo-bar{
    animation: mongo-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.mongo-bar::before{
    animation: mongo-progress 5s 1 forwards;
}

.java-bar{
    animation: java-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.java-bar::before{
    animation: java-progress 5s 1 forwards;
}

.python-bar{
    animation: python-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.python-bar::before{
    animation: python-progress 5s 1 forwards;
}

.office-bar{
    animation: office-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.office-bar::before{
    animation: office-progress 5s 1 forwards;
}

.teaching-bar{
    animation: teaching-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.teaching-bar::before{
    animation: teaching-progress 5s 1 forwards;
}

.mentor-bar{
    animation: mentor-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.mentor-bar::before{
    animation: mentor-progress 5s 1 forwards;
}

.testing-bar{
    animation: testing-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.testing-bar::before{
    animation: testing-progress 5s 1 forwards;
}

.listen-bar{
    animation: listen-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.listen-bar::before{
    animation: listen-progress 5s 1 forwards;
}

.project-bar{
    animation: project-progress 5s 1 forwards, glitch .4s linear infinite;
    animation-delay: 0s, 4.8s;
    background: linear-gradient(to right, #ffa600 calc(var(--progress-value)* 1%), #ffedd1 0);
}
.project-bar::before{
    animation: project-progress 5s 1 forwards;
}


@property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
@keyframes skill-progress {
    to { --progress-value: 95; }
}
@keyframes js-progress {
    to { --progress-value: 90; }
}
@keyframes jquery-progress {
    to { --progress-value: 90; }
}
@keyframes reactjs-progress {
    to { --progress-value: 85; }
}
@keyframes php-progress {
    to { --progress-value: 90; }
}
@keyframes wordpress-progress {
    to { --progress-value: 90; }
}
@keyframes node-progress {
    to { --progress-value: 80;}
}
@keyframes express-progress {
    to { --progress-value: 70;}
}
@keyframes sql-progress {
    to { --progress-value: 85;}
}
@keyframes mongo-progress {
    to { --progress-value: 75;}
}
@keyframes office-progress {
    to { --progress-value: 85;}
}
@keyframes java-progress {
    to { --progress-value: 70;}
}
@keyframes python-progress {
    to { --progress-value: 65;}
}
@keyframes teaching-progress {
    to { --progress-value: 85;}
}
@keyframes mentor-progress {
    to { --progress-value: 85;}
}
@keyframes listen-progress {
    to { --progress-value: 95;}
}
@keyframes testing-progress {
    to { --progress-value: 95;}
}
@keyframes project-progress {
    to { --progress-value: 80;}
}

.Working-tools-section{
    padding-bottom: 30px;
}
.Working-tools-section .tool-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    flex-wrap: wrap;
}
.Working-tools-section .tool-icons img{
    height: 75px;
    width: 75px;
    padding: 10px;
    border: 2px solid rgb(39, 39, 39);
    border-radius: 50%;
    box-shadow: 0px 2px 10px #004765;
}
.Working-experience-section{
    padding: 20px 0px;
    background-image: url('../asset/pxfuel.webp');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-bottom: 6px solid #000000
}

.experience-title-section{
    display: flex;
    justify-content: left;
    gap: 2px;
    align-items: center;
    margin-bottom: 2px;
}

.experience-lists .card{
    box-shadow: inset 0 0 10px rgb(31 31 31);
    background-color: #fffae9;
}
.experience-lists .card .card-header{
    color: #ffffff;
    background-color: #3c7378;
}

.experience-lists .card .card-body{
    padding-top: 12px;
}

.experience-title-section h5{
    margin-bottom: 0px;
    margin-top: 2px;
    color: #8600f3;
}
.experience-title-section img{
    height: 36px;
    width: 36px;
    object-fit: contain;
    margin-left: -4px;
    border-radius: 50%;
}
.experience-websites{
    /* list-style-type: none; */
    padding: 0px 12px 0px 12px;
}
.experience-websites p{
    margin-bottom: 10px;
    line-height: 1.3;
}
.experience-websites a{
    color: #007580;
    text-decoration: none;
    font-weight: 500;
    font-style: italic;
}

.personal-websites-section{
    padding-bottom: 30px;
}
.projects-section .card-one{
    background-color: #3c7378;
    box-shadow: inset 0 0 10px rgb(0 0 0);
    color: white;
}
.projects-section .card-two{
    background-color: #f6deb3e0;
    box-shadow: inset 0 0 10px rgb(0 0 0);
    color: rgb(0, 0, 0);
}
.project-card-body{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.personal-website-ss{
    max-width: 400px;
    border-radius: 8px;
    animation: glitch 1s linear infinite;
}
.project-section-btn{
    width: 185px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(329deg, #787878, #000000);
}

@media(max-width:575.98px){
    .javscript-div{
        margin-top: 12px;
    }
}
@media(max-width:767.98px){
    .experience-summary{
        padding-left: 15px;
    }
    .experience-banner-section .container{
        flex-direction: column;
    }
    .project-card-body{
        flex-direction: column;
    }
    .personal-website-ss{
        max-width: 100%;
    }
}